/**
 * @file The app entry style
 * @author
 */

@import './common/css/common'

.page-img
    margin: 0 auto
    -quick-margin: 0 44%;
    display: block
    width: 150px
    height: 150px

.title
    color: #333
    font-size: 60px
    margin: 10px 20px
    /* px2rpx: no */

.content
    margin: 10px
    padding: 10px

